{
  "openapi": "3.1.0",
  "info": {
    "title": "UAZAPI",
    "description": "API para envio de mensagens via WhatsApp usando a UAZAPI.",
    "version": "1.0.0",
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.uazapi.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/send~text": {
      "post": {
        "description": "Envia uma mensagem de texto para um número específico.",
        "requestBody": {
          "description": "Dados da mensagem de texto a ser enviada.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendTextRequest"
              },
              "example": {
                "number": "5511999999999",
                "text": "Olá, tudo bem?"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendTextResponse"
                },
                "example": {
                  "status": "success",
                  "messageId": "abc123",
                  "to": "5511999999999"
                }
              }
            }
          },
          "400": {
            "description": "Erro na requisição",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": 400,
                  "message": "Número inválido ou campo obrigatório ausente."
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendTextRequest": {
        "type": "object",
        "required": ["number", "text"],
        "properties": {
          "number": {
            "type": "string",
            "description": "Número do destinatário no formato E.164 (ex: 5511999999999)."
          },
          "text": {
            "type": "string",
            "description": "Mensagem de texto a ser enviada."
          }
        }
      },
      "SendTextResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status do envio da mensagem (ex: success, error)."
          },
          "messageId": {
            "type": "string",
            "description": "Identificador único da mensagem."
          },
          "to": {
            "type": "string",
            "description": "Número de destino."
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32",
            "description": "Código do erro"
          },
          "message": {
            "type": "string",
            "description": "Descrição do erro"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
